<form class="container">
    <div class="form-group">
        <label for="name">Name</label>
        <input #name class="form-control" id="name" name="name"/>
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input #price class="form-control" id="price" name="price"/>
    </div>
    <div class="form-group">
        <label for="imageUrl">Image Url</label>
        <input #imageUrl class="form-control" id="imageUrl" name="imageUrl"/>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input #description class="form-control" id="description" name="description"/>
    </div>
    <div class="form-check">
        <input #checkbox type="checkbox" id="checkbox" class="form-check-input" name="isActive"/>
        <label class="form-check-label" for="isActive"> Active </label>
    </div>
    <select #category class="form-control" id="category">
        <option value="1">Phone</option>
        <option value="2">Computer</option>
        <option value="3">Tablet</option>
    </select>
    <a type="submit" (click)="save(name, price, imageUrl, description, checkbox,  category)" class="btn btn-primary">Create Product</a>
</form>
