<div class="container">
    <div class="alert alert-danger" role="alert" *ngIf="error.exist">
        {{error.message}}
    </div>
    <form class="" #form="ngForm" (ngSubmit)="register(form)" >
        <div class="form-group">
            <label>E-mail</label>
            <input required id="email" name="email" class="form-control" [(ngModel)]="authForm.email" type="email" placeholder="Type your email"/>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input required min="3" max="20" id="password" name="password" type="password" class="form-control" [(ngModel)]="authForm.password" placeholder="Type your password"/>
        </div>
        <div class="d-flex flex-column">
            <button type="submit" class="btn btn-primary my-2">{{isLoginMode?"Sign In" : "Sign Up"}}</button>
            <button type="button" (click)="isLogin()" class="btn btn-outline-primary my-2">{{!isLoginMode? "I already have account" : "I don't have account"}}</button>
        </div>
    </form>
</div>
