<nav class="navbar navbar-expand-lg navbar-light bg-secondary text-white mb-3">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products/create">Create Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/categories/create">Create Category</a>
        </li>
      </ul>
    </div>
    <div class="nav-item" *ngIf="!isAuthenticated">
      <a routerLink="/login" class="nav-link">Sign up/Login</a>
    </div>
    <div class="nav-item" *ngIf="!!isAuthenticated">
      <a routerLink="/login" class="nav-link hidden">Logout</a>
    </div>
  </div>
</nav>