<div *ngIf="selectProduct!==null" class=" mb-2 card border-primary ">
    <div   class="row">
        <div class="col-3">
            <img src="/assets/image/{{selectProduct.imageUrl}}" alt="{{selectProduct.description}}" style="" class="card-img-top">
        </div>
        <div class="col-9">
            <div class="card-body">
                <h5 class="card-title">{{selectProduct.name}}</h5>
                <p class="cart-text">{{selectProduct.description}}</p>
                <button (click)="unselectedProduct()" class="btn btn-primary">Remove Product</button>
            </div>
        </div>
    </div>
</div>

<div class="d-flex-row align-items-center justify-content-center" *ngIf=" newProducts.length > 0; else noProducts">
   <ng-template [ngTemplateOutlet]="products" [ngTemplateOutletContext]="{products:newProducts}" ></ng-template>
   <ng-template [ngTemplateOutlet]="products2"></ng-template>
</div>


<ng-template #products let-products="products">
    <h2>Best Sellers</h2>
    <div *ngFor="let p of products" class=" mb-2 card ">
        <div *ngIf="p.isActive"  class="row">
            <div class="col-3">
                <img src="/assets/image/{{p.imageUrl}}" alt="{{p.description}}" style="" class="card-img-top">
            </div>
            <div class="col-9">
                <div class="card-body">
                    <h5 class="card-title">{{p.name}}</h5>
                    <p class="cart-text">{{p.description}}</p>
                    <button (click)="selectedProduct(p)" class="btn btn-primary">Product Details</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #products2>
    <h2>Most Liked</h2>
    <div class="row">
        <div class="d-flex justify-content-between">
            <div *ngFor="let p of newProducts" class="card mr-2" style="width: 18rem;">
                <div *ngIf="p.isActive"  class="row">
                    <div >
                        <img class="card-img-top" src="/assets/image/{{p.imageUrl}}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">{{p.name}}</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #noProducts>
    <div class="alert alert-primary" *ngIf="newProducts.length === 0">
        We couldn't find any produtcs
    </div>
</ng-template>