
<div class="container">
    <div class="row">
        <div class="col-3">
            <app-category-element></app-category-element>
        </div>
        <div class="col-9">
            <h1>Our Products</h1>
            <hr>
            <div class="d-flex-row align-items-center justify-content-center" *ngIf=" newProducts.length > 0; else noProducts">
                <ng-template [ngTemplateOutlet]="products" [ngTemplateOutletContext]="{products:newProducts}" ></ng-template>
                
            </div>
        </div>
       
    </div>
</div>

<ng-template #products let-products="products">
    <h2>Best Sellers</h2>
    <div *ngFor="let p of products" class=" mb-2 card ">
        <div *ngIf="p.isActive"  class="row">
            <div class="col-3">
                <img src="/assets/image/{{p.imageUrl}}" alt="{{p.description}}" style="" class="card-img-top">
            </div>
            <div class="col-9">
                <div class="card-body">
                    <h5 class="card-title">{{p.name}}</h5>
                    <p class="cart-text">{{p.description}}</p>
                    <a routerLink="/products/{{p.id}}" class="btn btn-primary">Product Details</a>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #noProducts>
    <div class="alert alert-primary" *ngIf="newProducts.length === 0">
        We couldn't find any produtcs
    </div>
</ng-template>